@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif, system-ui;
}

/*-----header-----*/

.header {
    margin: 25px 20px 40px;
}

.header__top-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.header__top-block img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.header__title {
    font-size: 1.7em;
    font-weight: 300;
    margin: 0 auto;
}

.header__divider {
    border: none;
    border-top: 1px solid #d6d6d6;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.header__nav-item {
    margin: 15px 20px;
    color: #7e7a97;
    text-decoration: none;
}

.header__nav-item:visited {
    color: #7e7a97;
}

/*-----main-----*/
.main {
    /* margin: auto 80px; */
}

.promo {
    margin: 50px 70px 100px;
    height: auto;
    background-color: #2a244b;
    color: white;
    display: flex;
}

.promo__container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-weight: 300;
    font-size: 2em;
}

.promo__button {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #484364;
    color: white;
    margin: 40px 0;
    cursor: pointer;
    transition: 200ms;
}

.promo__button--hover:hover {
    background-color: #423c64;
}

.promo__text {
    margin-top: auto;
}

/* main sections */
.features, .new-products, .popular {
    margin: 100px 70px;
}

.features__title {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.features__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* grid-template-columns: repeat(4, auto);
    column-gap: 20px; */
    margin: 30px 0;
}

.feature__block {
    width: 320px;
}

.feature__title {
    margin: 15px 0;
    font-weight: 500;
}

.new-products__title {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 300;
}

.new-products__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.new-product__img {
    max-height: 400px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.new-product__title, .new-product__cost {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 300;
}

.new-products__button, .popular__button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #f9f9f9;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    cursor: pointer;
}

.new-products__button--hover:hover, .popular__button--hover:hover {
    background-color: #efefef;
}

.popular__title {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 300;
}

.popular__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.popular-block__img {
    max-height: 400px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.popular-block__title, .popular-block__cost {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 300;
}

.newsletter {
    background-color: #f9f9f9;
    padding: 50px 70px 60px;
}

.newsletter__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__title {
    color: #2a244b;
    font-size: 2em;
    text-align: center;
    max-width: 55%;
    margin: 50px 0 20px;
}

.newsletter__text {
    /* font-size: 2em; */
    text-align: center;
    max-width: 40%;
    margin: 10px 0;
}

.newsletter__form {
    margin: 50px 0;
    height: 60px;
    display: flex;
}

.newsletter-form__input {
    width: 400px;
    height: 100%;
    border: none;
    background-color: #f9f9f9;
    padding: 15px;
}

.newsletter-form__button {
    width: 100px;
    height: 100%;
    border: none;
    background-color: #2a244b;
    color: #f4f4f4;
}

.about {
    display: flex;
}

.about__container {
    margin: 70px;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-weight: 400;
    color: #2a254b;
}

.about__text {
    font-weight: 300;
    margin: 15px 0;
    color: #505877;
}

.about__button {
    width: 140px;
    height: 60px;
    border: none;
    background-color: #f9f9f9;
    color: #2a254b;
    font-size: 1em;
    margin-top: auto;
    cursor: pointer;
    transition: 200ms;
}

.about__button--hover:hover {
    background-color: #efefef;
}

/* footer */
.footer {
    background-color: #2a244b;
    color: #fff;
}

.footer__top {
    display: flex;
}